body {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
    color:aliceblue;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  .Banner{
    width: 100%;
      height: auto;
  }

  .contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.info-personaje {
    display: flex;
    align-items: center;
}

.foto {
    width: 200px;
    margin-right: 20px;
}
.texto {
    flex-grow: 1;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #e5e2fa;
}

header {
  background: linear-gradient(to right, #003366, #0066cc);
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 2em;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

section {
  width: 30%;
  text-align: center;
}

section img {
  width: 100%;
  height: auto;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
}

.mas-texto {
    margin-top: 20px;
}

.header{
    color:aliceblue;
    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    text-align: center;
    margin: 20px 80px 80px 40px;
    text-decoration: none;
  }  
  footer {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  .search-bar input {
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    border-color: #333;
    
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    color: #000000;
    border-color: #333;
    border-radius: 30px 30px 30px 30px;
  }
  
  .social-media a {
    color: #000000;
    margin-right: 0px;
  }
  
  .contact-info p {
    margin: 0px 0;
  }
  .menufooter{
    font-weight: 700;
    font-size: 90;
  }
  .textfooter {
    position: absolute; 
      bottom: 0; 
      left: 0; 
      margin: 0;
      margin-left: 20px; 
      padding: 0px;
      font-size: x-small;
      color:#494949
  }
  